---
import Layout from '@/layouts/Layout.astro';

import motsatsImage1 from '@/assets/images/Motsats/1.jpg';
import motsatsImage2 from '@/assets/images/Motsats/2.jpg';
import motsatsImage3 from '@/assets/images/Motsats/3.jpg';
import motsatsImage4 from '@/assets/images/Motsats/4.jpg';
import motsatsImage5 from '@/assets/images/Motsats/5.jpg';
import motsatsImage6 from '@/assets/images/Motsats/6.jpg';
import motsatsImage7 from '@/assets/images/Motsats/7.jpg';
import motsatsImage8 from '@/assets/images/Motsats/8.jpg';
import motsatsImage9 from '@/assets/images/Motsats/9.jpg';

import { Image } from 'astro:assets';
---

<Layout title="Motsats | Work + Rest Furniture | Snehan Chakra Varthi">
	<div class="mt-12 flex max-w-5xl flex-col px-4 font-redhat">
		<Image
			src={motsatsImage1}
			alt="Motsats | Work + Rest Furniture"
			class="rounded-2xl"
			width={motsatsImage1.width}
			height={motsatsImage1.height}
		/>
		<div class="my-16 text-xl">
			Motsats is a multi-purpose furniture. It is a desk chair for an erect sitting posture,
			appropriate for students or employers sitting in front of a screen. It is a lounge chair for
			siestas and relaxation, designed to elevate the legs higher than the body while laying, to
			provide a pleasant and relieving rest.
		</div>
		<div class="flex flex-col gap-10">
			<Image
				src={motsatsImage2}
				alt="Motsats | Work + Rest Furniture"
				class="rounded-2xl"
				width={motsatsImage2.width}
				height={motsatsImage2.height}
			/>
			<Image
				src={motsatsImage3}
				alt="Motsats | Work + Rest Furniture"
				class="rounded-2xl"
				width={motsatsImage3.width}
				height={motsatsImage3.height}
			/>
			<Image
				src={motsatsImage4}
				alt="Motsats | Work + Rest Furniture"
				class="rounded-2xl"
				width={motsatsImage4.width}
				height={motsatsImage4.height}
			/>
		</div>
		<div class="my-16 text-xl">
			Dual usability with Motsats opens the door for new working and resting habits. No hustle or
			need for the user leaving the furniture to transform the chair. The unique feel when you can
			combine business and leisure was the origin of Motsats.
		</div>
		<Image
			src={motsatsImage5}
			alt="Motsats | Work + Rest Furniture"
			class="rounded-2xl"
			width={motsatsImage5.width}
			height={motsatsImage5.height}
		/>
		<div class="my-16 text-xl">Ready to assemble design that can be flat packed.</div>
		<div class="mb-40 flex flex-col gap-10">
			<Image
				src={motsatsImage6}
				alt="Motsats | Work + Rest Furniture"
				class="rounded-2xl"
				width={motsatsImage6.width}
				height={motsatsImage6.height}
			/>
			<Image
				src={motsatsImage7}
				alt="Motsats | Work + Rest Furniture"
				class="rounded-2xl"
				width={motsatsImage7.width}
				height={motsatsImage7.height}
			/>
			<Image
				src={motsatsImage8}
				alt="Motsats | Work + Rest Furniture"
				class="rounded-2xl"
				width={motsatsImage8.width}
				height={motsatsImage8.height}
			/>
			<Image
				src={motsatsImage9}
				alt="Motsats | Work + Rest Furniture"
				class="rounded-2xl"
				width={motsatsImage9.width}
				height={motsatsImage9.height}
			/>
		</div>
	</div>
</Layout>
