---
import Layout from '@/layouts/Layout.astro';

import sightLightImage1 from '@/assets/images/SightLight/1.jpg';
import sightLightImage2 from '@/assets/images/SightLight/2.jpg';
import sightLightImage3 from '@/assets/images/SightLight/3.jpg';
import sightLightImage4 from '@/assets/images/SightLight/4.jpg';
import sightLightImage5 from '@/assets/images/SightLight/5.jpg';
import sightLightImage6 from '@/assets/images/SightLight/6.jpg';
import sightLightImage7 from '@/assets/images/SightLight/7.jpg';
import sightLightImage8 from '@/assets/images/SightLight/8.jpg';
import sightLightImage9 from '@/assets/images/SightLight/9.jpg';
import sightLightImage10 from '@/assets/images/SightLight/10.jpg';
import sightLightImage11 from '@/assets/images/SightLight/11.jpg';
import sightLightImage12 from '@/assets/images/SightLight/12.jpg';
import sightLightImage13 from '@/assets/images/SightLight/13.jpg';

import { Image } from 'astro:assets';
---

<Layout title="SightLight | Multi-functional portable luminaire | Snehan Chakra Varthi">
	<div class="mt-12 flex max-w-5xl flex-col">
		<div class="flex flex-col gap-10">
			<Image
				src={sightLightImage1}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage1.height}
				width={sightLightImage1.width}
			/>
			<Image
				src={sightLightImage2}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage2.height}
				width={sightLightImage2.width}
			/>
			<Image
				src={sightLightImage3}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage3.height}
				width={sightLightImage3.width}
			/>
			<Image
				src={sightLightImage4}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage4.height}
				width={sightLightImage4.width}
			/>
			<Image
				src={sightLightImage5}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage5.height}
				width={sightLightImage5.width}
			/>
			<Image
				src={sightLightImage6}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage6.height}
				width={sightLightImage6.width}
			/>
			<Image
				src={sightLightImage7}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage7.height}
				width={sightLightImage7.width}
			/>
			<Image
				src={sightLightImage8}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage8.height}
				width={sightLightImage8.width}
			/>
			<Image
				src={sightLightImage9}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage9.height}
				width={sightLightImage9.width}
			/>
			<Image
				src={sightLightImage10}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage10.height}
				width={sightLightImage10.width}
			/>
			<Image
				src={sightLightImage11}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage11.height}
				width={sightLightImage11.width}
			/>
			<Image
				src={sightLightImage12}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage12.height}
				width={sightLightImage12.width}
			/>
			<Image
				src={sightLightImage13}
				alt="SightLight | Multi-functional portable luminaire"
				class="rounded-2xl"
				height={sightLightImage13.height}
				width={sightLightImage13.width}
			/>
		</div>
	</div>
</Layout>
