---
import Layout from '@/layouts/Layout.astro';

import rebirthCradleImage1 from '@/images/RebirthCradle/1.jpg';
import rebirthCradleImage2 from '@/images/RebirthCradle/2.jpg';
import rebirthCradleImage3 from '@/images/RebirthCradle/3.jpg';
import rebirthCradleImage4 from '@/images/RebirthCradle/4.jpg';
import rebirthCradleImage5 from '@/images/RebirthCradle/5.jpg';
import rebirthCradleImage6 from '@/images/RebirthCradle/6.jpg';
import rebirthCradleImage7 from '@/images/RebirthCradle/7.jpg';
import rebirthCradleImage8 from '@/images/RebirthCradle/8.jpg';
import rebirthCradleImage9 from '@/images/RebirthCradle/9.jpg';
import rebirthCradleImage10 from '@/images/RebirthCradle/10.jpg';
import rebirthCradleImage11 from '@/images/RebirthCradle/11.jpg';
import rebirthCradleImage12 from '@/images/RebirthCradle/12.jpg';
import rebirthCradleImage13 from '@/images/RebirthCradle/13.jpg';

import { Image } from 'astro:assets';
---

<Layout title="RebirthCradle | Human habitat for space travel | Snehan Chakra Varthi">
	<div class="mt-12 flex max-w-5xl flex-col">
		<div class="flex flex-col gap-10">
			<Image
				src={rebirthCradleImage1}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage1.height}
				width={rebirthCradleImage1.width}
			/>
			<Image
				src={rebirthCradleImage2}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage2.height}
				width={rebirthCradleImage2.width}
			/>
			<Image
				src={rebirthCradleImage3}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage3.height}
				width={rebirthCradleImage3.width}
			/>
			<Image
				src={rebirthCradleImage4}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage4.height}
				width={rebirthCradleImage4.width}
			/>
			<Image
				src={rebirthCradleImage5}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage5.height}
				width={rebirthCradleImage5.width}
			/>
			<Image
				src={rebirthCradleImage6}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage6.height}
				width={rebirthCradleImage6.width}
			/>
			<Image
				src={rebirthCradleImage7}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage7.height}
				width={rebirthCradleImage7.width}
			/>
			<Image
				src={rebirthCradleImage8}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage8.height}
				width={rebirthCradleImage8.width}
			/>
			<Image
				src={rebirthCradleImage9}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage9.height}
				width={rebirthCradleImage9.width}
			/>
			<Image
				src={rebirthCradleImage10}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage10.height}
				width={rebirthCradleImage10.width}
			/>
			<Image
				src={rebirthCradleImage11}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage11.height}
				width={rebirthCradleImage11.width}
			/>
			<Image
				src={rebirthCradleImage12}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage12.height}
				width={rebirthCradleImage12.width}
			/>
			<Image
				src={rebirthCradleImage13}
				alt="RebirthCradle | Human habitat for space travel"
				class="rounded-2xl"
				height={rebirthCradleImage13.height}
				width={rebirthCradleImage13.width}
			/>
		</div>
	</div>
</Layout>
