---
import { Image } from 'astro:assets';

import siteLogo from '@/assets/siteLogo/signature.png';
import siteLogoDark from '@/assets/siteLogo/signatureDark.png';
import DropdownMenu from '@/components/reactComponents/Menubar.tsx';

import { authorData } from '@/siteConfig';

const menu = [
	{
		name: 'Skills',
		link: '/#skills'
	},
	{
		name: 'Projects',
		link: '/#projects'
	},
	{
		name: 'About',
		link: '/#about'
	}
];
---

<script>
	const themeToggles = document.querySelectorAll('[data-theme-toggle]');

	const getTheme = () => localStorage.getItem('theme') || 'dark';

	const setTheme = (theme: string) => document.documentElement.setAttribute('data-theme', theme);

	// Apply the theme and icon when the page loads and after theme changes
	window.addEventListener('DOMContentLoaded', () => {
		setTheme(getTheme());
	});
	document.addEventListener('astro:after-swap', () => {
		setTheme(getTheme());
	});

	themeToggles.forEach((toggle) => {
		toggle.addEventListener('click', () => {
			const nextTheme = getTheme() === 'light' ? 'dark' : 'light';
			localStorage.setItem('theme', nextTheme);
			setTheme(nextTheme);
		});
	});
</script>

<div
	transition:persist="true"
	class="fixed left-0 top-0 flex h-12 w-screen items-center justify-between border-b border-lightGrid bg-lightBG font-microgammaMedium text-cyan-600 dark:border-darkGrid dark:bg-darkBG dark:text-pink-600 sm:px-6"
>
	<a href="/" class="z-20 mt-12 w-40 -rotate-3 px-3 sm:px-0">
		<Image
			src={siteLogo}
			alt="Snehan Chakravarthi Signature | Logo"
			class="dark:hidden"
			loading="eager"
		/>
		<Image
			src={siteLogoDark}
			alt="Snehan Chakravarthi Signature | Logo"
			class="hidden dark:block"
			loading="eager"
		/>
	</a>
	<ul class="flex flex-row items-center justify-end">
		{
			menu.map((item) => (
				<li class="mr-5 hidden  font-light hover:font-medium sm:block">
					<a href={item.link}>{item.name}</a>
				</li>
			))
		}
		<li>
			<a
				href="/Snehan Chakravarthi Resume 2024.pdf"
				download
				class="hidden h-5 w-auto items-center justify-center gap-1 self-center rounded-full bg-current px-2 text-xs font-light hover:font-medium sm:flex"
			>
				<svg
					width="16"
					height="16"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
					class="fill-white dark:fill-black"
					><path
						d="M16.59 9H15V4c0-.55-.45-1-1-1h-4c-.55 0-1 .45-1 1v5H7.41c-.89 0-1.34 1.08-.71 1.71l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.63-.63.19-1.71-.7-1.71M5 19c0 .55.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1H6c-.55 0-1 .45-1 1"
					></path></svg
				>

				<span class="text-white dark:text-black">CV</span></a
			>
		</li>
		<li>
			<a
				href={authorData.links.github}
				class="flex h-12 w-12 items-center justify-center"
				target="_blank"
				rel="noopener noreferrer"
			>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
					<title>Github Profile</title>
					<path
						d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
					></path>
				</svg></a
			>
		</li>
		<button
			class="theme-toggle mx-auto flex h-12 w-12 cursor-pointer items-center justify-center border border-b-0 border-t-0 border-lightGrid hover:bg-lightBG dark:border-darkGrid dark:hover:bg-darkBG"
			data-theme-toggle
			aria-label="toggle theme"
		>
			<span class="moon"
				><svg width="24" height="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"
					><path
						fill="currentColor"
						d="M223.5 32C100 32 0 132.3 0 256s100 224 223.5 224c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"
					></path></svg
				></span
			>
			<span class="sun"
				><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
					><path fill="currentColor" d="M18 12a6 6 0 1 1-12 0a6 6 0 0 1 12 0"></path><path
						fill="currentColor"
						fill-rule="evenodd"
						d="M12 1.25a.75.75 0 0 1 .75.75v1a.75.75 0 0 1-1.5 0V2a.75.75 0 0 1 .75-.75M4.399 4.399a.75.75 0 0 1 1.06 0l.393.392a.75.75 0 0 1-1.06 1.061l-.393-.393a.75.75 0 0 1 0-1.06m15.202 0a.75.75 0 0 1 0 1.06l-.393.393a.75.75 0 0 1-1.06-1.06l.393-.393a.75.75 0 0 1 1.06 0M1.25 12a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5H2a.75.75 0 0 1-.75-.75m19 0a.75.75 0 0 1 .75-.75h1a.75.75 0 0 1 0 1.5h-1a.75.75 0 0 1-.75-.75m-2.102 6.148a.75.75 0 0 1 1.06 0l.393.393a.75.75 0 1 1-1.06 1.06l-.393-.393a.75.75 0 0 1 0-1.06m-12.296 0a.75.75 0 0 1 0 1.06l-.393.393a.75.75 0 1 1-1.06-1.06l.392-.393a.75.75 0 0 1 1.061 0M12 20.25a.75.75 0 0 1 .75.75v1a.75.75 0 0 1-1.5 0v-1a.75.75 0 0 1 .75-.75"
						clip-rule="evenodd"></path></svg
				></span
			>
		</button>
		<div class="sm:hidden">
			<DropdownMenu menu={menu} client:load />
		</div>
	</ul>
</div>
