---
import Macbook from '../astroComponents/Macbook.astro';
import Iphone from '../astroComponents/Iphone.astro';

const zerodavinciSkills = [
	{ skill: 'JavaScript', icon: 'i-skill-icons-javascript' },
	{ skill: 'r3f', icon: 'i-logos-react-three-fiber' },
	{ skill: 'Three.JS', icon: 'dark:i-skill-icons-threejs-light i-logos-threejs' },
	{ skill: 'React', icon: 'dark:i-logos-react i-skill-icons-react-dark' },
	{ skill: 'Blender', icon: 'i-logos-blender' },
	{ skill: 'SolidWorks', icon: 'i-logos-solidworks' }
];
const acetraitSkills = [
	{ skill: 'Typescript', icon: 'i-skill-icons-typescript' },
	{ skill: 'React', icon: 'dark:i-logos-react i-skill-icons-react-dark' },
	{ skill: 'NodeJS', icon: 'i-logos-nodejs-icon' },
	{ skill: 'Next.JS', icon: 'i-logos-nextjs-icon' },
	{ skill: 'PostgreSQL', icon: 'i-logos-postgresql' },
	{ skill: 'Supabase', icon: 'i-logos-supabase-icon' },
	{ skill: 'OpenAI', icon: 'i-logos-openai-icon' },
	{ skill: 'Vercel', icon: 'i-logos-vercel-icon' }
];
const snehanSkills = [
	{ skill: 'Astro', icon: 'i-logos-astro-icon' },
	{ skill: 'Three.JS', icon: 'dark:i-skill-icons-threejs-light i-logos-threejs' },
	{ skill: 'React', icon: 'dark:i-logos-react i-skill-icons-react-dark' },
	{ skill: 'JavaScript', icon: 'i-skill-icons-javascript' },
	{ skill: 'r3f', icon: 'i-logos-react-three-fiber' }
];
const synchatSkills = [
	{ skill: 'Docker', icon: 'i-skill-icons-docker' },
	{ skill: 'NodeJS', icon: 'i-logos-nodejs-icon' },
	{ skill: 'Express', icon: 'dark:i-skill-icons-expressjs-light i-skill-icons-expressjs-dark' },
	{ skill: 'Whatsapp API', icon: 'i-logos-whatsapp-icon' },
	{ skill: 'Python', icon: 'i-logos-python' },
	{ skill: 'Flask', icon: 'i-skill-icons-flask-light' }
];
---

<div
	class="*:programming-card mt-2 rounded-2xl shadow-xl shadow-lightShadow dark:shadow-darkShadow sm:mt-10 lg:-rotate-1"
>
	<a class="group flex-col lg:flex-row" href="/programming/zerodavinci">
		<div class="ml-4 space-y-4 font-redhat">
			<div class="flex flex-col items-baseline xl:flex-row xl:gap-4">
				<h2
					class="group-hover:dark:text-shadow-3d-dark group-hover:text-shadow-3d font-microgammaBold text-3xl uppercase dark:text-pink-200"
				>
					Zero da Vinci
				</h2>
				<p class="group-hover:text-decoration-card text-xs text-yellow-600">
					[ www.zerodavinci.com ]
				</p>
			</div>
			<p class="text-sm sm:text-base">
				An interactive three.js site for product launch with blog section and stripe paywall.
			</p>
			<ul class="*:group-hover:text-decoration-card text-sm text-yellow-600 sm:text-base">
				<li>🌟 3D & AR visualization</li>
				<li>🌟 Scroll animations & camera control</li>
				<li>🌟 Optimized low-poly models (17k verts)</li>
				<li>🌟 SEO-ready MDX Blog</li>
			</ul>
			<ul class="flex flex-row flex-wrap gap-1 text-sm sm:gap-2 sm:text-base">
				{
					zerodavinciSkills.map((skill) => (
						<div class="programming-card-skill-box">
							<div class="flex h-4 w-4 items-center sm:h-5 sm:w-5">
								<span class={`${skill.icon} h-3 w-3 sm:h-6 sm:w-6`} />
							</div>
							{skill.skill}
						</div>
					))
				}
			</ul>
		</div>

		<div class="flex max-h-96 flex-col items-center sm:flex-row">
			<div
				class="-translate-x-2 -rotate-1 scale-75 transition-transform duration-150 sm:translate-x-8 sm:scale-100 md:group-hover:-translate-x-6 md:group-hover:-rotate-6 md:group-hover:scale-110"
			>
				<Macbook transition:name="zero" transition:persist />
			</div>
			<div
				class="max-w-52 -translate-y-60 translate-x-16 rotate-2 scale-75 transition-transform duration-150 sm:-translate-x-16 sm:translate-y-0 sm:scale-100 md:group-hover:rotate-6 md:group-hover:scale-110"
			>
				<Iphone videoChoice="zero" transition:name="iphoneZero" transition:persist />
			</div>
		</div>
	</a>

	<a class="group flex-col-reverse lg:flex-row" href="/programming/acetrait">
		<div
			class="-rotate-2 scale-75 transition-transform sm:scale-100 md:group-hover:-rotate-6 md:group-hover:scale-110"
		>
			<Macbook videoChoice="acetrait" transition:name="macbookAce" transition:persist />
		</div>
		<div class="ml-4 space-y-4 font-redhat">
			<div class="flex flex-col items-baseline xl:flex-row xl:gap-4">
				<h2
					class="group-hover:dark:text-shadow-3d-dark group-hover:text-shadow-3d font-microgammaBold text-3xl uppercase dark:text-pink-200"
				>
					Acetrait
				</h2>
				<p class="group-hover:text-decoration-card text-xs text-emerald-600">
					[ www.acetrait.com ]
				</p>
			</div>
			<p class="text-sm sm:text-base">
				AI powered web platform for smart recruitment. AI Interviewing, Candidate Shortlisting, and
				more.
			</p>
			<ul class="*:group-hover:text-decoration-card text-sm text-emerald-600 sm:text-base">
				<li>⭐️ Finetunned LLM + Streaming Responses + Dynamic Prompting</li>
				<li>⭐️ NextJS Server Actions</li>
				<li>⭐️ PostgreSQL + Supabase Realtime</li>
				<li>⭐️ Edge Runtime Vercel</li>
			</ul>
			<ul class="flex flex-row flex-wrap gap-1 text-sm sm:gap-2 sm:text-base">
				{
					acetraitSkills.map((skill) => (
						<div class="programming-card-skill-box">
							<div class="flex h-4 w-4 items-center sm:h-5 sm:w-5">
								<span class={`${skill.icon} h-3 w-3 sm:h-6 sm:w-6`} />
							</div>
							{skill.skill}
						</div>
					))
				}
			</ul>
		</div>
	</a>

	<a class="group flex-col lg:flex-row" href="/programming/snehansite">
		<div class="ml-4 space-y-4 font-redhat">
			<div class="flex flex-col items-baseline xl:flex-row xl:gap-4">
				<h2
					class="group-hover:dark:text-shadow-3d-dark group-hover:text-shadow-3d font-microgammaBold text-3xl uppercase dark:text-pink-200"
				>
					snehan.site
				</h2>
				<p class="group-hover:text-decoration-card text-xs text-red-600">[ www.snehan.site ]</p>
			</div>
			<p class="text-sm sm:text-base">The website you are currently on. A personal portfolio.</p>
			<ul class="*:group-hover:text-decoration-card text-sm text-red-600 sm:text-base">
				<li>⭐️ ThreeJS and 3D avatar</li>
				<li>⭐️ Dark mode and fully responsive</li>
				<li>⭐️ TailwindCSS heavy</li>
				<li>⭐️ Astro Static Site</li>
			</ul>
			<ul class="flex flex-row flex-wrap gap-1 text-sm sm:gap-2 sm:text-base">
				{
					snehanSkills.map((skill) => (
						<div class="programming-card-skill-box">
							<div class="flex h-4 w-4 items-center sm:h-5 sm:w-5">
								<span class={`${skill.icon} h-3 w-3 sm:h-6 sm:w-6`} />
							</div>
							{skill.skill}
						</div>
					))
				}
			</ul>
		</div><div
			class="rotate-2 transition-transform md:group-hover:rotate-6 md:group-hover:scale-110"
		>
			<Iphone videoChoice="snehan" transition:name="iphone" transition:persist />
		</div>
	</a>

	<a class="group rounded-b-2xl lg:flex-row" href="/programming/synchat">
		<div class="mx-4 space-y-4 font-redhat">
			<div class="flex flex-col items-baseline xl:flex-row xl:gap-4">
				<h2
					class="group-hover:dark:text-shadow-3d-dark group-hover:text-shadow-3d font-microgammaBold text-3xl uppercase"
				>
					Synchat
				</h2>
				<p class="group-hover:text-decoration-card text-xs text-purple-500">
					[ Under Construction! ]
				</p>
			</div>
			<p class="text-sm sm:text-base">
				Containerised servers [Express, Flask] for WhatsApp API and personal AI assistance.
			</p>
			<ul class="*:group-hover:text-decoration-card text-sm text-purple-500 sm:text-base">
				<li>⭐️ Containerised Docker Server Images</li>
				<li>⭐️ Middlewares</li>
				<li>⭐️ Whatsap Business API Integration</li>
				<li>⭐️ Speech to Text + Vision AI Models</li>
			</ul>
			<ul class="flex flex-row flex-wrap gap-1 text-sm sm:gap-2 sm:text-base">
				{
					synchatSkills.map((skill) => (
						<div class="programming-card-skill-box">
							<div class="flex h-4 w-4 items-center sm:h-5 sm:w-5">
								<span class={`${skill.icon} h-3 w-3 sm:h-6 sm:w-6`} />
							</div>
							{skill.skill}
						</div>
					))
				}
			</ul>
		</div>
	</a>
</div>
