---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import rangerImage1 from '@/assets/images/Ranger/1.jpg';
import rangerImage2 from '@/assets/images/Ranger/2.jpg';
import rangerImage3 from '@/assets/images/Ranger/3.jpg';
import rangerImage4 from '@/assets/images/Ranger/4.jpg';
import rangerImage5 from '@/assets/images/Ranger/5.jpg';
import rangerImage6 from '@/assets/images/Ranger/6.jpg';
import rangerImage7 from '@/assets/images/Ranger/7.jpg';
import rangerImage8 from '@/assets/images/Ranger/8.jpg';
import rangerImage9 from '@/assets/images/Ranger/9.jpg';
import rangerImage10 from '@/assets/images/Ranger/10.jpg';
import rangerImage11 from '@/assets/images/Ranger/11.jpg';
import rangerImage12 from '@/assets/images/Ranger/12.jpg';
import rangerImage13 from '@/assets/images/Ranger/13.jpg';
---

<Layout title="Ranger | Next-Gen Electric Surfboard | Snehan Chakra Varthi">
	<div class="mt-12 flex max-w-5xl flex-col px-4 font-redhat">
		<div class="flex flex-col gap-10">
			<Image
				src={rangerImage1}
				alt="Ranger | Next-Gen Electric Surfboard"
				class="rounded-2xl"
				height={rangerImage1.height}
				width={rangerImage1.width}
			/>
			<Image
				src={rangerImage2}
				alt="Ranger | Next-Gen Electric Surfboard"
				class="rounded-2xl"
				height={rangerImage2.height}
				width={rangerImage2.width}
			/>
		</div>
		<div class="my-16 text-xl">
			As sophisticated as they might look and perform, Electric surfboards are easy and natural to use.
			Redesigning an electric surfboard means to secure its appeal as a friendly machine for anyone.
		</div>
		<Image
			src={rangerImage3}
			alt="Ranger | Next-Gen Electric Surfboard"
			class="rounded-2xl"
			height={rangerImage3.height}
			width={rangerImage3.width}
		/>
		<div class="my-16 text-xl">
			Ranger was designed with another usage mode for effortless surfing. Now, the rider can choose
			between standing and sitting while surfing.
		</div>
		<div class="flex flex-col gap-10">
			<Image
				src={rangerImage4}
				alt="Ranger | Next-Gen Electric Surfboard"
				class="rounded-2xl"
				height={rangerImage4.height}
				width={rangerImage4.width}
			/>
			<Image
				src={rangerImage5}
				alt="Ranger | Next-Gen Electric Surfboard"
				class="rounded-2xl"
				height={rangerImage5.height}
				width={rangerImage5.width}
			/>
			<Image
				src={rangerImage6}
				alt="Ranger | Next-Gen Electric Surfboard"
				class="rounded-2xl"
				height={rangerImage6.height}
				width={rangerImage6.width}
			/>
		</div>
		<div class="my-16 text-xl">
			The seat can be set up with a single pulling action. Pull the seat up and then to the front to
			unfold and secure the seat.
		</div>
		<Image
			src={rangerImage7}
			alt="Ranger | Next-Gen Electric Surfboard"
			class="rounded-2xl"
			height={rangerImage7.height}
			width={rangerImage7.width}
		/>
		<div class="my-16 text-xl">
			The handheld remote used for acceleration while surfing can be slotted into the joystick
			controllers on either side of the seat for operating the surfboard in the seated mode.
		</div>
		<Image
			src={rangerImage8}
			alt="Ranger | Next-Gen Electric Surfboard"
			class="rounded-2xl"
			height={rangerImage8.height}
			width={rangerImage8.width}
		/>
		<div class="my-16 text-xl">
			The battery pack and the jetpack are modular design that can be easily changed.
		</div>
		<Image
			src={rangerImage9}
			alt="Ranger | Next-Gen Electric Surfboard"
			class="rounded-2xl"
			height={rangerImage9.height}
			width={rangerImage9.width}
		/>
		<div class="my-16 text-xl">
			<ul class="text-center">
				<li>Top speed 32 mph</li>
				<li>Acceleration 0-25, 5 sec</li>
				<li>Est ride time 25 min</li>
				<li>Board weight 38 lbs</li>
				<li>Dimensions 6’5“ x 2’7“ x 0.7’</li>
			</ul>
		</div>
		<div class="mb-40 flex flex-col gap-10">
			<Image
				src={rangerImage10}
				alt="Ranger | Next-Gen Electric Surfboard"
				class="rounded-2xl"
				height={rangerImage10.height}
				width={rangerImage10.width}
			/>
			<Image
				src={rangerImage11}
				alt="Ranger | Next-Gen Electric Surfboard"
				class="rounded-2xl"
				height={rangerImage11.height}
				width={rangerImage11.width}
			/>
			<Image
				src={rangerImage12}
				alt="Ranger | Next-Gen Electric Surfboard"
				class="rounded-2xl"
				height={rangerImage12.height}
				width={rangerImage12.width}
			/>
			<Image
				src={rangerImage13}
				alt="Ranger | Next-Gen Electric Surfboard"
				class="rounded-2xl"
				height={rangerImage13.height}
				width={rangerImage13.width}
			/>
		</div>
	</div>
</Layout>
